.btn {
    @include dflex(nowrap, row, center, center);
    @include transition;
    width: 100%;
    min-height: 50px;
    padding: 0 10px;
    border: none;
    background-color: $accent-color-medium;
    transition: border-color .3s ease-out, background-color .3s ease-out;
    cursor: pointer;

    &:active {
        background-color: $accent-color-dark;
    }

    &--accent-form {
        background-color: transparent;
        border: 2px solid #fff;

        &:active {
            background-color: $accent-color-medium;
            border-color: $accent-color-medium;
        }
    }

    &--non-target {
        border: 2px solid $accent-color-medium;
        background-color: #fff;

        &:active {
            background-color: $accent-color-medium;
        }
    }
}

.btn__text {
    @include gradient-text;
    @include transition(color);
    color: #fff;
    letter-spacing: .05em;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--non-target .btn__text {
    color: $accent-color-medium;
}

.btn:active .btn__text {
    color: transparent;
}

.form__submit {
    margin-top: 30px;
}

@media (min-width: $desktop-width) {
    .btn {
        min-height: 60px;

        &:hover,
        &:focus {
            background-color: $accent-color-dark;
            border-color: $accent-color-dark;
            outline: none;
        }

        &--accent-form {
            font-size: 16px;
            line-height: 20px;

            &:hover,
            &:focus {
                background-color: $accent-color-medium;
                border-color: $accent-color-medium;
                outline: none;
            }
        }

        &--non-target {
            &:hover,
            &:focus {
                background-color: $accent-color-medium;
                border-color: $accent-color-medium;
                outline: none;
            }
        }
    }

    .btn:hover .btn__text,
    .btn:focus .btn__text {
        color: transparent;
    }

    .btn--non-target:hover .btn__text,
    .btn--non-target:focus .btn__text {
        color: #fff;
    }

    .btn--non-target:active .btn__text {
        color: transparent;
    }
}