@keyframes sliderDotsProgress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.index-slider__item-img-block {
    margin-bottom: 50px;
}

.index-slider__item-img {
    @include object-fit;
}

.index-slider__item-heading {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    color: $accent-color-dark;
}

.index-slider__item-accent {
    @include gradient-text;
    margin-bottom: 4px;
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    color: transparent;
}

.index-slider__item-accent span {
    font-weight: 600;
}

.index-slider__item-term {
    margin-bottom: 30px;
    color: $accent-color-dark;
    font-size: 16px;
    line-height: 26px;
}

.index-slider__item-link {
    width: calc(100% - 138px);
}

.index-slider__controls {
    @include dflex(nowrap, column, flex-start, stretch);
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    z-index: 1000;
}

.index-slider__controls-arrows {
    align-self: flex-end;
    margin-right: 13px;
}

.index-slider__controls-dots-list {
    @include list-reset;
    @include dflex(nowrap, row, flex-start, center);
    margin-top: 30px;
    height: 2px;
}

.index-slider__controls-dots-list li {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.index-slider__controls-dots-list button {
    @include transition(width);
    position: relative;
    width: 30px;
    height: 2px;
    padding: 0;
    font-size: 0;
    background-color: rgba($accent-color-medium,.15);
    border: none;
    cursor: pointer;

    &::after {
        @include abs-pseudo;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-image: $gradient-simple;
    }
}

.index-slider__controls-dots-list .slick-active button {
    width: 100px;

    &:focus {
        outline: none;
    }

    &::after {
        animation-delay: .3s;
        animation-name: sliderDotsProgress;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}

@media (min-width: $desktop-width) {
    .index-slider__item {
        @include dflex(nowrap, row-reverse, space-between, center);
    }

    .index-slider__item-img-block {
        position: relative;
        right: -30px;
        flex-basis: calc(50% - 60px);
        flex-shrink: 0;
        margin-bottom: 0;
    }

    .index-slider__item-text-block {
        @include dflex(nowrap, column, flex-start, flex-start);
        flex-basis: 50%;
    }

    .index-slider__item-heading {
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 51px;
    }

    .index-slider__item-accent {
        margin-bottom: 10px;
        font-size: 42px;
        line-height: 50px;
    }

    .index-slider__item-term {
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
    }

    .index-slider__item-link {
        width: 217px;
        margin-top: auto;
    }

    .index-slider__controls {
        top: 0;
        left: 257px;
        margin-bottom: -60px;
        transition: top .1s;
    }

    .index-slider__controls-arrows {
        align-self: flex-start;
        margin-right: 40px;
    }

    .index-slider__controls-arrows .slider-arrows__arrow {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: $big-desktop-width) {
    .index-slider__item-img-block {
        right: -60px;
    }

    .index-slider__controls {
        flex-direction: row;
        align-items: center;
    }

    .index-slider__controls-dots-list {
        margin-top: 0;
    }
}

@media (min-width: $full-hd-width) {
    .index-slider__item-img-block {
        width: 700px;
        height: 571px;
    }

    .index-slider__item-text-block {
        flex-basis: 782px;
    }

    .index-slider__item-heading {
        margin-bottom: 30px;
        font-size: 55px;
        line-height: 70px;
    }
}