.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.275);
    opacity: 0;
    z-index: -1;
    transition: opacity .3s ease-out, z-index .3s ease-out;

    &--active {
        opacity: 1;
        z-index: 10000;
    }
}