.section {
    overflow-x: clip;
    
    &:not(:first-of-type) {
        margin-top: 50px;
    }

    &:not(.section--map) {
        margin-bottom: 50px;
    }

    &--accent {
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-image: url("../img/bg-accent-section.jpg")
    }
}

.section[style*="display: none"] + .section:not([style*="display: none"]) {
    margin-top: 0;
}

.section__head {
    @include dflex(nowrap, row, flex-start, center);
    position: relative;
    margin-bottom: 30px;
    padding-top: 15px;

    &--desktop {
        display: none;
    }
}

.section__heading {
    position: relative;
    margin-bottom: 0;
    text-transform: uppercase;
    z-index: 1;
}

.section--accent .section__heading {
    @include gradient-text;
    color: transparent;
}

.section__ghost-heading {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    font-weight: 600;
    font-size: 45px;
    line-height: 35px;
    text-transform: uppercase;
    color: $ghost-heading-color;
    z-index: 0;
    user-select: none;
}

.section--accent .section__ghost-heading {
    color: rgba(255,255,255,.03);
}

.section__head-link {
    margin-left: 18px;
}

.section__slider-arrows {
    display: none;
}

.section__accent-desc {
    @include gradient-text;
    position: relative;
    margin-top: 30px;
    padding: 0 20px 0 64px;
    color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;

    &::before {
        @include background("../img/icon-doctors-description.svg");
        @include abs-pseudo;
        top: 0;
        left: 0;
        width: 44px;
        height: 55px;
    }
}

@media (min-width: $tablet-width) {
    .section__accent-desc {
        &::before {
            @include center-y;
        }
    }
}

@media (min-width: $desktop-width) {
    .section {
        &:not(:first-of-type) {
            margin-top: 140px;
        }
    
        &:not(.section--map),
        &--map {
            margin-bottom: 140px;
        }

        &--smaller-margins {
            &:not(:first-of-type) {
                margin-top: 80px;
            }
        
            &:not(.section--map),
            &--map {
                margin-bottom: 80px;
            }
        }

        &--circle {
            position: relative;

            &::after {
                @include abs-pseudo;
                top: 50%;
                width: 912px;
                height: 912px;
                border-radius: 50%;
                background-color: $bg-color;
                opacity: .7;
                z-index: -1;
            }
        }

        &--circle-right {
            &::after {
                right: 0;
                transform: translate(45%, -50%);
            }
        }

        &--circle-left {
            &::after {
                left: 0;
                transform: translate(-45%, -50%);
            }
        }

        &--circle-medium {
            &::after {
                width: 1000px;
                height: 1000px;
            }
        }

        &--circle-big {
            &::after {
                width: 1444px;
                height: 1444px;
            }
        }

        &--circle-intro {
            &::after {
                top: 0;
                right: 0;
                width: 1221px;
                height: 1221px;
                transform: translate(220px, -45%);
            }
        }

        &--accent {
            max-width: calc(100vw - 80px);
            margin: 0 auto;
        }
    }

    .section__head {
        margin-bottom: 60px;
        padding-top: 49px;

        &--mobile {
            display: none;
        }

        &--desktop {
            display: flex;
        }
    }

    .section__ghost-heading {
        top: 16px;
        font-size: 100px;
        line-height: 50px;
    }
    
    .section__head-link {
        margin-left: 35px;
    }

    .section__slider-arrows {
        display: flex;
        margin-left: auto;
    }

    .section__accent-desc {
        margin-top: 74px;
        padding-left: 79px;
        font-size: 18px;
        line-height: 28px;
    
        &::before {
            left: 0;
        }
    }
}

@media (min-width: $big-desktop-width) {
    .section {
        &--accent {
            width: 1634px;
            margin: 0 auto;
        }
    }
}