.services {
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
}

.services__wrapper {
    @include dflex(nowrap, row, flex-start, flex-start);
    @include hide-scrollbar;
    padding: 0 20px;
    overflow-x: auto;
}

.services__item {
    @include dflex(nowrap, column, flex-start, center);

    &:not(:last-child) {
        margin-right: 20px;
    }

    &:focus {
        outline: none;
    }
}

.services__item-img-block {
    @include transition(box-shadow);
    width: 240px;
    height: 240px;
    margin-bottom: 15px;
    box-shadow: $box-shadow;
}

.services__item:active .services__item-img-block {
    box-shadow: $box-shadow-hover;
}

.services__item-img {
    @include object-fit;
}

.services__item-name {
    position: relative;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: $accent-color-dark;

    &::after {
        @include abs-center-x;
        @include transition(width);
        top: auto;
        bottom: 0;
        width: 60px;
        height: 1px;
        background-image: $gradient;
    }
}

@media (min-width: $tablet-width) {
    .services {
        left: -30px;
        width: calc(100% + 60px);
    }

    .services__wrapper {
        padding: 0 30px;
    }
}

@media (min-width: $desktop-width) {
    .services {
        position: static;
        width: 100%;
    }

    .services__wrapper {
        flex-wrap: wrap;
        width: calc(100% + 30px);
        margin-bottom: -50px;
        padding: 0;
        overflow: initial;
    }

    .services__item {
        @include transition(transform);
        position: relative;
        flex-basis: calc(25% - 30px);
        margin-right: 30px;
        margin-bottom: 50px;
        transform: translateY(0);

        &:not(:last-child) {
            margin-right: 30px;
        }

        &::after {
            @include abs-pseudo;
            @include transition;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
        }

        &:hover,
        &:focus,
        &:active {
            transform: translateY(-10px);

            &::after {
                bottom: -10px;
            }
        }
    }

    .services__item:hover .services__item-img-block,
    .services__item:focus .services__item-img-block {
        box-shadow: $box-shadow-hover;
    }

    .services__item-img-block {
        position: relative;
        width: 100%;
        height: 0;
        margin-bottom: 35px;
        padding-top: 100%;
    }

    .services__item-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .services__item-name {
        padding-bottom: 18px;
        font-size: 18px;
        line-height: 28px;
    }

    .services__item:hover .services__item-name::after,
    .services__item:focus .services__item-name::after,
    .services__item:active .services__item-name::after {
        width: 100px;
    }
}
