*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    @include reset;
    @include dflex(nowrap, column, flex-start, stretch);
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    color: $text-color;
    background-color: #fff;

    &.fixed {
        padding-right: 17px;
        overflow: hidden;
    }
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.slick-initialized .slick-list {
    width: 100%;
}

.slick-initialized .slick-track {
    display: flex;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    max-width: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    max-width: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

h1 {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 34px;
    line-height: 120%;
    color: $heading-color;
}

h2 {
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: $heading-color;
}

h3 {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $heading-color;
}

p {
    margin: 0 0 10px;
}

p:last-child {
    margin-bottom: 0;
}

@media (min-width: $tablet-width) {
    body {
      font-size: 16px;
      line-height: 28px;
    }

    h1 {
        margin: 0 0 40px;
        font-size: 60px;
        line-height: 70px;
    }

    h2 {
        margin: 0 0 15px;
        font-size: 66px;
        line-height: 80px;
    }

    h3 {
        margin: 0 0 15px;
        font-size: 22px;
        line-height: 25px;
    }

    p {
        margin: 0 0 20px;
    }
}
