$text-color: #38414A;
$heading-color: #06111D;
$link-color-hover: #E48C3A;
$link-color-active: #FFB703;
$accent-color: #073E80;
$accent-bg-color: #F0F6FC;
$accent-bg-color-hover: #B5C5D9;
$accent-bg-color-active: #073E7F;
$accent-color-light: #6A8BB3;
$accent-color-lighter: #839FC0;
$neutral-color: #83888E;
$footer-menu-divider-color: #B4B8BB;
$footer-section-border-color: #CDCFD2;
$filter-select-border-color: #E6ECF2;
$pic-caption-color: #6A7077;
$footer-bg-color: #F9F9F9;
$table-text-color: #204370;
$table-bg-color: #FAFAFA;
$show-more-btn-color: #27303F;
$search-text-color: #9BA0A5;
$icon-bg-color: #707287;
$search-focus-color: #5178A6;
$product-default-border-color: #E3EFFF;
$product-hover-border-color: #FAE0C3;
$static-p-background-color: #F1F6FB;

$slider-first-breakpoint: 700px;
$tablet-width: 768px;
$slider-second-breakpoint: 992px;
$desktop-width: 1200px;
$big-desktop-width: 1600px;
$bigger-desktop-width: 1920px;
